body {
	font-family: Helvetica
	}
#discover {

	/* Flexbox */
	display: flex;
	align-items: center;
	/* Flexbox */
}
p{
	color: red;
	font-size: 14px
}
#textebasdepage {
	color: black;
	font-style: italic;
}
#Discover {
	border-style: dotted;
	text-align: center;
	}


#Think {
	border-style: dotted;
	text-align: center;
	}

#Share {
	border-style: dotted;
	text-align: center;
	}
