body {
	text-align: center;
	font-family: helvetica;
}

#tagline {
	margin-bottom: 30px}

p{
	color: black;
	font-size: 14px
}

img{
	margin-top: 10px
	}

#Discover {
	border-style: groove;
	box-sizing: content-box;
width: 30%;
	margin: auto;
	margin-bottom: 30px
	}

#Think {
	border-style: groove;
	box-sizing: content-box;
width: 30%;
	margin: auto;
	margin-bottom: 30px
	}

#Share {
	border-style: groove;
	box-sizing: content-box;
width: 30%;
	margin: auto;
	}

#textebasdepage {
	color: black;
	font-style: italic;
	text-align: center;
	}